/*
 * @Author: Wind Rises
 * @Date: 2020-05-24 16:15:48
 * @Last Modified by: Wind Rises
 * @Last Modified time: 2020-05-25 15:25:51
 */
.page-header
    width 1400px
    height 110px
    border solid 1px rgb(228, 228, 228)

    .list-container
        padding 10px 0 10px 20px
        background-color rgb(243, 243, 243)

        .list-item
            margin-right 10px
            width 140px
            height 30px
            font-size 13px
            color rgb(102, 102, 102)
            background-color #FFF

            .num
                color red

            &.active
                color #FFF
                background-color rgba(26, 188, 156, 1)

                .num
                    color #FFF

    .query-form
        padding-top 10px
        padding-left 20px
        border-top solid 1rpx rgb(228, 228, 228)

        .select-wrap-1
            width 120px

        .input-wrap
            margin-left 10px
            width 200px

        .select-wrap-2
            width 290px

            .order-type
                padding 0 10px 0 20px
                line-height 40px
                color #333333

        .date-wrap
            margin-right 20px
            width 450px

            .order-time
                padding 0 10px 0 20px
                line-height 40px
                color #333333

.table-wrap
    width 1400px

>>>.el-table .cell
    font-size 12px
    line-height 18px

    .status-wrap
        display flex
        justify-content center
        flex-direction column
        align-items center
        line-height 24px

    .handle-container
        display flex
        justify-content space-around

        span
            color #1ABC91

            &:hover
                text-decoration underline
                cursor pointer

        .close
            color red

            &:hover
                text-decoration underline
                cursor pointer

    .item-remark
        color #1ABC91
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        text-overflow ellipsis
        word-break break-all
        overflow hidden

        &:hover
            text-decoration underline
            cursor pointer

>>>.el-table td
    padding 16px 0
